.grid-item {
   padding-bottom: 20px;
   border-radius: 5px;
   background-color: #99ab56;
   margin-bottom: 20px;

   .img-container {
      width: 100%;

      .img {
         border-radius: 5px 5px 0 0;
      }
   }
}