.modal {
   width: 800px;
   height: 700px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 10px;
   background: #fff;
   color: #000;
   z-index: 10;
   padding: 20px;
   box-shadow: 4px 4px 10px 1px rgb(212, 212, 212);
   
}